.nav
  = render partial: 'partials/navigation'
- @categories.each do |category|
  = link_to category.name, root_path(category: category.id)
- @articles.each do |article|
  %section.grid-container
    .container.m-auto
    %div{id: dom_id(article)}
    %h1.text-black.font-bold.text-xl.mb-2.my-4.article-header= article["header"]
    #header
    %div.div2
      #imageplaceholder
      = image_tag("trump.jpg")
      %div.div3
        %p.article-subheader= article["subheader"]
        #subheader
        %p.article-paragraph.article-body= article["body"]
        #body



        